<section class="convoimage">
  <div class="mailboxheader">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    Mailbox.
  </div>
</section>

<div class="convoblankspace">
  <div class="mailboxconvo">
    <br><span class='parkingsize'>all<span class='kingweight'> Conversations</span></span>
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= image_tag recipient.avatar.url(:thumb) %>
          <%= link_to recipient.first_name, conversation_messages_path(conversation)%><br>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="usersconvo">
    <br><span class='parkingsize'>all<span class='kingweight'> Contacts</span></span>
    <div class=”ui list”>
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <div class=”item”>
            <%= user.first_name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
