<h3>♛ All Bookings ♛</h3>
<% @booking.each do |booking| %>
  <ul>
    <li>
      <p> <%= link_to booking.id, listing_booking_path(booking.listing.id, booking.id) %> </p>
      <p> Date: <%= booking.date %> at <%= booking.human_time %>  </p>
    </li>
  </ul>
<% end %>

<%= link_to("Back to All Listings", listings_path, class:'back_listings') %>
