<section class="userbookingsimage">
  <div class="userbookingsheader">
    Bookings
  </div>
</section>

<div class="userbookingsblankspace">

  <% if @bookings.count > 0 %>
    <br><%= link_to "Look for another spot!".html_safe, root_url %>
    <br>
    <div class="user_partial">
      <%= render partial: 'bookings' %>
    </div>
    <div class="review_form">
    </div>
  <% else %>
    <br>You have no bookings!
    <br><%= link_to "Look for another spot!".html_safe, root_url %>
  <% end %>

</div>
