<section class="userlistingsimage">
  <div class="userlistingsheader">
    Listings
  </div>
</section>

<div class="userlistingsblankspace">

  <% if @listings.count > 0 %>
    <br><%= link_to "Make a new listing!".html_safe, new_listing_path, id: "makenewlisting" %>
    <br>
    <div class="user_partial">
      <%= render partial: 'listings' %>
    </div>
    <div class="review_form">
    </div>
  <% else %>
    <br>You have no listings!
    <br><%= link_to "Make a new listing!".html_safe, new_listing_path %>
  <% end %>

</div>
