<h1>About</h1>

<p>
  Founded in July of 2017 and based in Toronto, Canada, PARK♛KING is a trusted community marketplace for people to list, discover, and book private parking spots around the city — online or from a mobile phone or tablet.
</p>

<p>
  Whether you need a spot for a few hours, a place to leave your car overnight, or a space for a week, PARK♛KING connects people to exclusive parking spots at low prices. And with world-class customer service and a growing community of users, PARKing is the easiest way for people to monetize their extra parking space and showcase it to an audience of hundreds.
</p>
