#map {
  height: 550px;
  margin-top: 4em;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  p,
  h1 {
    color: black;
  }
  a {
    margin-left: 6em;
    text-decoration: none;
    color: deeppink;
    font-weight: 500;
    border: 1px solid #3A3A3B;
    padding: 3px;
    border-radius: 5%;
    transition: all 0.25s ease 0s;
    &:hover {
      background-color: #3A3A3B;
    }
  }
}
.book p{
  color: white;
}
.side-bar a:hover {
  background: rgb(13,25,191) none repeat scroll 0 0;
}

a:hover {
  outline: 0;
}
.side-bar a:hover {
    color: rgb(13,25,191);
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

.side-bar a {
background: white none repeat scroll 0 0;
border-radius: 3px;
color: black;
display: block;
line-height: 5px;
text-align: center;
padding: 9px;
}

.side-bar a{
font-size: 17px;
position: fixed;
right: 60px;
top: 10px;
z-index: 2001;
}

nav .topnav{
  margin-right: 0px;
}

.sub-menu-parent { position: relative; }

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

}

.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-menu li a:hover{color: grey;}
.sub-menu li a{color: blue;}
nav a{ display: block; padding: 0.5em 1em; text-decoration: none; }
nav .topnav ul,
nav .topnav ul li { list-style-type: none; padding: 0; margin: 0; }

nav .topnav> ul { background: black; text-align: center;}
nav .topnav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav .topnav> ul > li:first-child { border-left: none; }
 .sub-menu a:hover{
 color: blue;
}
.sub-menu {
  background: #DDD;
}

li.sub-menu-parent{
    margin-top: 35px;
    margin-right: 115px;
}

a#profile-link {
   color: white;
   font-weight: bold;
   position: absolute;
   right: 11em;
}
a#dashboard {
   color: black;
}
