#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  p,
  h1 {
    color: black;
  }
  a {
    margin-left: 6em;
    text-decoration: none;
    color: deeppink;
    font-weight: 500;
    border: 1px solid #3A3A3B;
    padding: 3px;
    border-radius: 5%;
    transition: all 0.25s ease 0s;
    &:hover {
      background-color: #3A3A3B;
    }
  }
}
.side-bar a:hover {
  background: rgb(13,25,191) none repeat scroll 0 0;
}

a:hover {
  outline: 0;
}
a:hover {
    color: rgb(13,25,191);
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

.side-bar a {
background: white none repeat scroll 0 0;
border-radius: 3px;
color: black;
display: block;
line-height: 34px;
text-align: center;
}

.side-bar a{
font-size: 17px;
position: fixed;
right: 30px;
top: 10px;
z-index: 2001;
}

nav .topnav{
  margin-right: 0px;
}
