// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listings {
  background-image: url("https://forged.rpmware.com/storage/hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
