// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages.index {
  // background-image: url("https://forged.rpmware.com/storage/hero1.jpg");
  // background-image: url("http://www.magic4walls.com/wp-content/uploads/2016/05/white-ford-mustang-2015-aristo-collection-Golden-Gate-Bridge-night.jpg");
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-322195.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(26, 26, 26);
  color: white;
}
