@media all and (min-width: 1800px) {
  .home.index {
    margin-top: 60px;
  }
  .search_listing {
    position: relative;
    form {
    width: 80%;
    left: 12%;
    position: absolute;
    input[type=text] {
      padding: 10px;
      width: 60%;
    }
  }
}
.homepage_container > .search_listing > form > input[type=submit] {
    padding: 11px;
  }
#date_hour {
  padding: 9px;
}
.homepage_container > .bookyourspot {
  top: 260px;
  left: 495px;
}
}
