@media all and (min-width: 1800px) {
  .home.index {
    margin-top: 60px;
  }
  .search_listing {
    position: relative;
    form {
    width: 80%;
    left: 12%;
    position: absolute;
    input[type=text] {
      padding: 18px;
    }
  }
}
.homepage_container > .search_listing > form > input[type=submit] {
    padding: 10px;
    position: absolute;
    right: 12px;
  }
#date_hour {
  padding: 9px;
  background-color: white;
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid lightgreen;
  border-right: 1px solid lightgreen;
  position: absolute;
}
.homepage_container > .bookyourspot {
  top: 260px;
  left: 495px;
}
#makenewlisting { margin-left: 48%;}
.userlistingsblankspace > .user_partial { margin-left: 20%; }
.users.listings > .users_listing_image { margin-left: 45em; }
.users.listings > .users_listings_top {margin-left: 15em;}
.convoblankspace { height: 500px; }
.messagesblankspace {
  height: 500px;
  input[type=submit] {
    width: 30%;
  }
}
#new_user {
  height: 37em;
}
}
