// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usersbookings {
  display: inline-block;
  width: 16%;
}
.users.show {
  background-image: url("https://forged.rpmware.com/storage/hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
